@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.app {
  background-color: black;
  font-family: "Quicksand", sans-serif;
}

.navitem {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: larger;
}

.nav-item:hover {
  color: rgb(244, 21, 13);
  transition: 500ms;
}

.banner {
  height: 600px;
  display: flex;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: "";
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  color: white;
  z-index: 1;
  font-family: "Cinzel", serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieslide {
  width: 90%;
  margin-bottom: 200px;
  /* z-index: 99; */
}

.movieslide-title {
  color: white;
  padding: 15px;
  margin-top: 50px;
}

.carousel ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel li {
  margin: 1px;
}

.carousel li div {
  height: 230px;
  border-radius: 5px;
}
.carousel li:hover {
  transform: scale(1.3);
  transition: 800ms;
  border-radius: 5px;
  z-index: 1;
  margin: 40px;
}

.carousel li:not(:hover) {
  transition: 400ms;
  transform: scale(0.9);
}

.carousel li:hover .overlay {
  opacity: 1;
  z-index: 1;
}

.vote_average {
  color: white;
  margin-right: 10px;
}

.overlay {
  opacity: 0;
  width: 100%;
  height: 50px;
  background: rgba(43, 41, 41, 0.9);
  z-index: 2;
  padding: 10px;
}
.overlay > h1 {
  color: white;
  font-size: 25px;
}

.movieDetailpage {
  height: 100%;
  width: 100vw;
}

.detailMoviePoster {
  margin-top: 120px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-detail-info {
  margin-top: 120px;
  padding-left: 20px;
  color: whitesmoke;
}

.movie-detail-info-title {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 30px;
}

.spinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relatedRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.relatedMovies {
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 200px;
  width: 530px;
}

.reviews-related-btn {
  display: flex;
  align-items: flex-end;
  height: 150px;
  margin-bottom: 20px;
}
.reviews-related-btn button {
  margin: 10px;
}

.reviews-btn {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reviews-btn:active {
  outline: 0;
}

.reviews-btn:hover {
  outline: 0;
}

.reviews-btn span {
  transition: all 200ms;
}

.reviews-btn:hover span {
  transform: scale(0.9);
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  .reviews-btn {
    font-size: 15px;
    height: 50px;
  }

  .reviews-btn span {
    line-height: 50px;
  }
}

.related-btn {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.related-btn:active {
  outline: 0;
}

.related-btn:hover {
  outline: 0;
}

.related-btn span {
  transition: all 200ms;
}

.related-btn:hover span {
  transform: scale(0.9);
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  .related-btn {
    font-size: 15px;
    height: 50px;
  }

  .related-btn span {
    line-height: 50px;
  }
}

.review-box {
  border: 3px solid white;
  margin-bottom: 200px;
  width: 90%;
}

.one-review {
  border-bottom: 1px solid white;
  padding: 20px;
}

.review-author {
  color: white;
  font-size: large;
}

.review-content {
  color: white;
}

.detailInfoGenre {
  margin: 5px;
  margin-bottom: 10px;
}

.detailInfoOverview {
  border-top: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid white;
}

.detailInfoAdult {
  color: #f34079;
}

.sortedtitle-1 {
  font-size: 30px;
}

.sortedMovies {
  margin-top: 50px;
  height: 700px;
  width: 450px;
  color: white;
  position: relative;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(246, 0, 0, 0.17) 0px 12px 13px, rgba(255, 199, 199, 0.09) 0px -3px 5px;
}

.sortedMovies::before {
  position: absolute;
  left: 0;
  width: 400px;
  height: 700px;
  content: "";
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.sortedMovies:hover {
  transform: scale(1.02);
  transition: 500ms;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sortedInfo {
  position: absolute;
  width: 60%;
  z-index: 1;
  margin: 20px;
}

.sortfilterBox {
  position: sticky;
  top: 0;
}

.sortBox {
  margin: 30px;
  height: 300px;
  padding: 10px;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 400px;
}
.targetValue {
  text-align: center;
}

.filterBox {
  display: flex;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 400px;
  height: 200px;
}

.filterMovies-title {
  margin-bottom: 20px;
}
.filterMovies-range {
  margin-top: 20px;
}

#nav-dropdown-dark-example {
  color: rgb(255, 255, 255);
  margin: 0px;
  font-size: 30px;
  margin-bottom: 40px;
}

.genrefilter {
  border: 1px solid white;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  color: white;
  /* display: flex;
  justify-content: center; */
  width: 400px;
}

.genreButton {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 5px;
}

.genreButton:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.genreButton:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
